In [3]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, r2_score, mean_squared_error, root_mean_squared_error

import os
import sys

sys.path.append(os.path.abspath('../..'))
from utils.metrics import SSE, MSE, RMSE, MAE, MAPE, SMAPE
from utils.generators import generate_fake_time_series

In [4]:
ds = generate_fake_time_series(90)
ds.head()

   sale_date  sales
0 2025-03-09  97.73
1 2025-03-10  68.78
2 2025-03-11  58.83
3 2025-03-12  29.64
4 2025-03-13  93.39

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sale_date  90 non-null     datetime64[ns]
 1   sales      90 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.5 KB

In [6]:
# just shift everytyhing by one day
# this is our shitty model for predicting time series
ds['prediction'] = ds['sales'].shift(1)

In [7]:
ds.head()

   sale_date  sales  prediction
0 2025-03-09  97.73         NaN
1 2025-03-10  68.78       97.73
2 2025-03-11  58.83       68.78
3 2025-03-12  29.64       58.83
4 2025-03-13  93.39       29.64

In [8]:
# start at the first row. leave at the zero row because it doesnt have the shifted data
y_true = ds.iloc[1:]['sales']
y_pred = ds.iloc[1:]['prediction']

### metrics

In [10]:
# sum of squared errors
#(y_true - y_pred).dot(y_true - y_pred)

In [9]:
sse_error = SSE(y_true, y_pred)
sse_error

137276.1412

In [14]:
# mean squared error
#mean_squared_error(y_true, y_pred)

In [10]:
mse_error = MSE(y_true, y_pred)
mse_error

1542.4285528089888

In [12]:
# rmse = root_mean_squared_error(y_true, y_pred)
# rmse

In [11]:
rmse_error = RMSE(y_true, y_pred)
rmse_error

39.273764179270984

In [16]:
# mae = mean_absolute_error(y_true, y_pred)
# mae

In [12]:
mae_error = MAE(y_true, y_pred)
mae_error

32.76898876404494

In [18]:
# mape = mean_absolute_percentage_error(y_true, y_pred)
# mape

In [13]:
mape_error = MAPE(y_true, y_pred)
mape_error

2.3107329752182824

In [14]:
smape_error = SMAPE(y_true, y_pred)
smape_error

0.7562901360345969