In [13]:
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
my_year = 2020
my_month = 1
my_day = 2

my_hour= 12
my_min = 20
my_sec = 15

my_date = datetime(my_year, my_month, my_day)
my_date

datetime.datetime(2020, 1, 2, 0, 0)

In [4]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_min, my_sec)
my_date_time

datetime.datetime(2020, 1, 2, 12, 20, 15)

In [5]:
my_date_time.hour

12

In [6]:
type(my_date_time)

datetime.datetime

In [9]:
np.array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64')

array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64[D]')

In [12]:
np.arange('2018-06-01', '2018-06-23', 1, dtype='datetime64[D]')

array(['2018-06-01', '2018-06-02', '2018-06-03', '2018-06-04',
       '2018-06-05', '2018-06-06', '2018-06-07', '2018-06-08',
       '2018-06-09', '2018-06-10', '2018-06-11', '2018-06-12',
       '2018-06-13', '2018-06-14', '2018-06-15', '2018-06-16',
       '2018-06-17', '2018-06-18', '2018-06-19', '2018-06-20',
       '2018-06-21', '2018-06-22'], dtype='datetime64[D]')

In [15]:
pd.date_range(start='2020-01-01', periods=7, freq='D')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [17]:
pd.to_datetime(['1/1/2020', '1/5/2020'], format='%m/%d/%Y')

DatetimeIndex(['2020-01-01', '2020-01-05'], dtype='datetime64[ns]', freq=None)

In [18]:
data =  np.random.randn(3,2)
cols = ['A', 'B']
data

array([[ 1.70132687,  0.40108292],
       [ 0.14069792, -0.59858927],
       [ 0.03433073,  1.09745669]])

In [19]:
idx = pd.date_range(start='2020-01-01', periods=3, freq='D')
ds = pd.DataFrame(data, index=idx, columns=cols)
ds

                   A         B
2020-01-01  1.701327  0.401083
2020-01-02  0.140698 -0.598589
2020-01-03  0.034331  1.097457

In [20]:
ds.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03'], dtype='datetime64[ns]', freq='D')

In [21]:
ds.index.max()

Timestamp('2020-01-03 00:00:00')

In [22]:
ds.index.argmax()

np.int64(2)