# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Describe the Problem/Solution

### ðŸ’¡ what is standard deviation and how do I get that information from just some raw data?

ðŸ§ª Step-by-step Walkthrough (Reverse Engineering Style)
Letâ€™s assume youâ€™re given just this:

Person	Height (cm)
Person1	173
Person2	147
Person3	140
Person4	163
Person5	146
Person6	161

Now, weâ€™ll turn this into a pandas DataFrame and then slowly calculate:

Mean height

Deviation from mean

Squared deviation

Variance

Standard deviation

# Solution

## Step 1: get the data

In [70]:
# create a dictionary with sample data
# key: string
# value: list
data = {
    'Person': ['Person1', 'Person2', 'Person3', 'Person4', 'Person5', 'Person6'],
    'height_cm': [173, 147, 140, 163, 146, 161]
}

## Step 2: Create the DataFrame

In [71]:
# its just that easy if you just pass in a dictionary"
# Im calling this ds because my head hurts if im not dealing with datasets
# you'll see df all over the code world, but my fingers prefer ds to df
ds = pd.DataFrame(data)

## Step 3: Calculate Mean height

In [72]:
# this is a build in function and I would like to see the math isolated out.
mean_height = ds['height_cm'].mean()

In [73]:
print(f"mean_height: {mean_height}")

mean_height: 155.0

In [74]:
# add it to the dataset, what I like to call a DataFrame
ds['mean_height'] = mean_height

## Step 4: Calculate the deviation from the mean

In [75]:
# how far off is each person from the mean height?
# and when i say mean I mean average, lol
# take the height of each person(height_cm) and subtract the mean height of all the peeps and then put that into a new column called deviation
ds['deviation'] = ds['height_cm'] - ds['mean_height']

In [78]:
ds

    Person  height_cm  mean_height  deviation  squared_deviation
0  Person1        173        155.0       18.0              324.0
1  Person2        147        155.0       -8.0               64.0
2  Person3        140        155.0      -15.0              225.0
3  Person4        163        155.0        8.0               64.0
4  Person5        146        155.0       -9.0               81.0
5  Person6        161        155.0        6.0               36.0

## Step 5: Square the deviation

In [79]:
# weird to me, but I love the **2 means square that shit and save it to a new column called squared_deviation
# this is each persons contribution to the total variance
ds['squared_deviation'] = ds['deviation'] ** 2

## Step 6: Calculate variance and standard deviation

In [80]:
# this is my interpretation:
# this is the average of how bad everybodys shit is as a whole, or good...
# Uses N-1 in the denominator (Besselâ€™s correction).
# proper definition: the overall variance is the average of those squared deviations (or slightly inflated is your using sample variance)
population_variance = ds['squared_deviation'].mean()
sample_variance = ds['squared_deviation'].sum() / (len(ds) - 1)
variance = ds['squared_deviation'].sum() / (len(ds) - 1)

In [ ]:
# calculate the standard deviation by taking the square root of the variance
std_dev = np.sqrt(variance)

In [44]:

print(f"\nMean height: {ds['mean_height'].iloc[0]:.2f} cm")
print(f"Standard Deviation: {std_dev:.2f} cm")

Mean height: 155.00 cm
Standard Deviation: 12.60 cm

In [45]:
ds.head()

,Person,height_cm,mean_height,deviation,squared_deviation,variance,std_dev
0,Person1,173,155.0,18.0,324.0,158.8,12.601587
1,Person2,147,155.0,-8.0,64.0,158.8,12.601587
2,Person3,140,155.0,-15.0,225.0,158.8,12.601587
3,Person4,163,155.0,8.0,64.0,158.8,12.601587
4,Person5,146,155.0,-9.0,81.0,158.8,12.601587