### 🧩 Awesome cypher intro

In [12]:
def decrypt_cypher(word):
    return "".join([c for c in word if c.isalpha() or c == ' ']).title()

In [13]:
cypher = """
47897343Y4323o646456u3242342 3423432h2346454a3423423v634987e234 33c44r33a34590==c@@k1e40-d
- t99h1232e*(#&$ c3o3d33e)
"""
print(decrypt_cypher(cypher))

You Have Cracked The Code

### 🧩 Caesar Cipher

![ceasar_cipher](../images/ceasar_cipher.png)

In [14]:
from typing import List

In [25]:
words = ['python', 'math', 'lists']

In [17]:
def encrypt(word: str, shift: int = 3) -> List[int]:
    return [ord(char) + shift for char in word]

In [28]:
encrypted = [encrypt(word) for word in words]
encrypted

[[115, 124, 119, 107, 114, 113],
 [112, 100, 119, 107],
 [111, 108, 118, 119, 118]]

In [29]:
def decrypt(encrypted: List[int], shift: int = 3) -> str:
    return "".join([chr(num-shift) for num in encrypted])

In [30]:
decrypted = [decrypt(code, 3) for code in encrypted]
decrypted

['python', 'math', 'lists']

### exercises

#### 🪛 challenge 1

In [37]:
# cube the nums that appear more than once
x = [10, 5, 1, 1, 0, 4, 2, 2, 10]

In [38]:
print(x.count(10)) # 10 appears 2 times

2

In [39]:
cubed = [i**3 for i in x if x.count(i) > 1]
cubed

[1000, 1, 1, 8, 8, 1000]

#### 🪛 challenge 2

reverse the grid

In [41]:
grid = [[1,1,0],
        [1, 0, 1],
        [0, 0, 1]]

In [42]:
grid

[[1, 1, 0], [1, 0, 1], [0, 0, 1]]

this will reverse each sub list

In [48]:
[r[::-1] for r in grid]

[[0, 1, 1], [1, 0, 1], [1, 0, 0]]

this will reverse both

In [49]:
[r[::-1] for r in grid][::-1]

[[1, 0, 0], [1, 0, 1], [0, 1, 1]]

or you could do this

In [50]:
[r[::-1] for r in grid[::-1]]

[[1, 0, 0], [1, 0, 1], [0, 1, 1]]

#### 🪛 challenge 3

return the pairwise sum [1 + 40, 10 + 5, 20 + 2] = [41, 15, 22]

In [51]:
a = [1, 10, 20]
b = [40, 5, 2]

In [54]:
[(x+y) for x, y in zip(a,b)]

[41, 15, 22]

or we can add a third list

In [55]:
[(x + y + z) for x, y, z in zip(a, b, [100, 200, 300])]

[141, 215, 322]

#### 🪛 challenge 4

In [56]:
def between(x):
    return x if x >= 1 and x <= 10 else None

In [57]:
nums = [10, 4, 5, 100, -1, 6]

In [60]:
[y for x in nums if (y := between(x))]

[10, 4, 5, 6]

#### 🪛 challenge 4

In [61]:
colors = ['black', 'red', 'purple', 'grey']
[col.upper() if len(col) > 4 else col for col in colors]

['BLACK', 'red', 'PURPLE', 'grey']

In [62]:
# convert all strings longer than 4 characters to uppercase
# convert the rest of the strings to titlecase
[col.upper() if len(col) > 4 else col.title() for col in colors]

['BLACK', 'Red', 'PURPLE', 'Grey']

In [63]:
#### 🪛 challenge 5

In [64]:
input = [1, 1, 0, 0, 1]

In [66]:
# convert all 1's to floats and omit zeros
[float(n) for n in input if n == 1]

[1.0, 1.0, 1.0]