In [1]:
names = ['John', 'charlotte', 'Joe', 'Alice']

In [3]:
names_dict = {name: name.upper() for name in names}
names_dict

{'John': 'JOHN', 'charlotte': 'CHARLOTTE', 'Joe': 'JOE', 'Alice': 'ALICE'}

In [5]:
split_names = {name[0]: name[1:] for name in names}
split_names

{'J': 'oe', 'c': 'harlotte', 'A': 'lice'}

In [6]:
capitol_cities = {"england": "london", "japan": "tokyo", "spain": "madrid"}

In [7]:
{k:v for k, v in capitol_cities.items()}

{'england': 'london', 'japan': 'tokyo', 'spain': 'madrid'}

these are the ways in which you can enumerate a dictionary

In [8]:
capitol_cities.keys()

dict_keys(['england', 'japan', 'spain'])

In [9]:
capitol_cities.values()

dict_values(['london', 'tokyo', 'madrid'])

In [10]:
capitol_cities.items()

dict_items([('england', 'london'), ('japan', 'tokyo'), ('spain', 'madrid')])

In [13]:
{k: v for k, v in capitol_cities.items()}

{'england': 'london', 'japan': 'tokyo', 'spain': 'madrid'}

In [17]:
{k.title(): f"City is {v.title()}" for k, v in capitol_cities.items()}

{'England': 'City is London',
 'Japan': 'City is Tokyo',
 'Spain': 'City is Madrid'}

### ðŸ¥— Challenge: 1

given the following list

$
\text{NUMS} = [10, 20, 30, 40]
$

create a dictionary comprehension where the key is each number halved

and the corresponding value is each number cubed

In [18]:
nums = [10, 20, 30, 40]

In [21]:
{n: n for n in nums}

{10: 10, 20: 20, 30: 30, 40: 40}

In [24]:
{n*0.5: n**3 for n in nums}

{5.0: 1000, 10.0: 8000, 15.0: 27000, 20.0: 64000}

### ðŸ¥— Challenge: 2

given the string:

CHIP = 'INTEL'

create a dictionary comprehension where each letter is a key and its corresponding value is the ascii vlaue of that character

In [30]:
chip = "INTEL"

In [32]:
{c: ord(c) for c in chip}

{'I': 73, 'N': 78, 'T': 84, 'E': 69, 'L': 76}

### ðŸ¥— Challenge: 3

In [35]:
students = {'john': 88, 'alice': 91, 'mike': 75, 'sarah': 89}

In [38]:
def grade(score):
    return "Pass" if score >= 85 else "Fail"

In [39]:
{student: grade(score) for student, score in students.items()}

{'john': 'Pass', 'alice': 'Pass', 'mike': 'Fail', 'sarah': 'Pass'}