## Test Bed

In [1]:
from datetime import datetime, timedelta
import os
import sys
sys.path.append(os.getcwd())
from atrax import Atrax as trax

### Data

In [2]:
data = [
    {
        'name': 'mike',
        'specialty': 'code',
        'state': 'tn',
        'created_at': datetime.now() - timedelta(days=10),
        'magic_number': 42
    },
    {
        'name': 'tommy',
        'specialty': 'numbers',
        'state': 'tn',
        'created_at': datetime.now() - timedelta(days=10),
        'magic_number': 15
    },  
    {
        'name': 'stephen',
        'specialty': 'typescript',
        'state': 'la',
        'created_at': datetime.now() - timedelta(days=10),
        'magic_number': 21
    }, 
    {
        'name': 'tj',
        'specialty': 'hardware',
        'state': 'tn',
        'created_at': datetime.now() - timedelta(days=10),
        'magic_number': 4
    },  
    {
        'name': 'jhovani',
        'specialty': 'sms',
        'state': 'tn',
        'created_at': datetime.now() - timedelta(days=30),
        'magic_number': 1
    },  
    {
        'name': 'josh',
        'specialty': 'sencha',
        'state': 'tn',
        'created_at': datetime.now() - timedelta(days=30),
        'magic_number': 100
    },             
]

### Implement

In [3]:
ds = trax(data)

In [4]:
ds

name,specialty,state,created_at,magic_number
mike,code,tn,2025-06-08 19:57:38.487884,42
tommy,numbers,tn,2025-06-08 19:57:38.487884,15
stephen,typescript,la,2025-06-08 19:57:38.487884,21
tj,hardware,tn,2025-06-08 19:57:38.487884,4
jhovani,sms,tn,2025-05-19 19:57:38.487884,1
...

#### shape

In [5]:
ds.shape()

(6, 5)

#### head

In [6]:
ds.head(3)

name,specialty,state,created_at,magic_number
mike,code,tn,2025-06-08 19:57:38.487884,42
tommy,numbers,tn,2025-06-08 19:57:38.487884,15
stephen,typescript,la,2025-06-08 19:57:38.487884,21

#### describe

In [7]:
ds.describe()

stat,magic_number
mean,30.5
std,37.05536398417913
min,1
max,100
count,6

#### info

In [8]:
ds.info()

<class 'atrax.Atrax'>
Data columns (total 5):
  name            Non-Null Count: 6     Dtype: str
  specialty       Non-Null Count: 6     Dtype: str
  state           Non-Null Count: 6     Dtype: str
  created_at      Non-Null Count: 6     Dtype: datetime
  magic_number    Non-Null Count: 6     Dtype: int
dtypes: 3
Memory usage: 240 bytes (est.)

#### value_counts

In [9]:
ds.value_counts('magic_number')

value,count
42,1
15,1
21,1
4,1
1,1
...

#### getitem

this is pretty much our go to functionality

In [10]:
ds.column('state')

state
tn
tn
la
tn
tn
...

In [12]:
ds['state']

0: tn
1: tn
2: la
3: tn
4: tn
5: tn

In [11]:
ds.columns(['name', 'specialty'])

TypeError: 'list' object is not callable

In [26]:
mask = ds['state'] == 'tn'
mask

False