In [2]:
from atrax import Atrax

In [3]:
s = Atrax.Series([1,2,3,4,5,6,7,8,9,10,11])

In [4]:
s

0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9   10
...(11 total)
Name: , dtype: int

In [6]:
type(s)

atrax.core.series.Series

In [11]:
Atrax.Series([1.5, 2.5, 3.25], name="floats")

0   1.5
1   2.5
2   3.25
Name: floats, dtype: float

In [8]:
Atrax.Series(["1", "2", "3"])

0   1
1   2
2   3
Name: , dtype: object

In [10]:
Atrax.Series([1, 2.5, True, 'hello'], name="mixed_series")

0   1
1   2.5
2   True
3   hello
Name: mixed_series, dtype: object

In [12]:
s = Atrax.Series(["1", "2", "3"])
s.astype('int')

0   1
1   2
2   3
Name: , dtype: int

In [14]:
s = Atrax.Series([1,2,3,4,5])
s.apply(lambda x: x * 2)

0   2
1   4
2   6
3   8
4   10
Name: , dtype: int

In [15]:
def square(x):
    return x * x

In [16]:
s1 = Atrax.Series([1,2,3])
s1.apply(square)

0   1
1   4
2   9
Name: , dtype: int

In [17]:
s1 = Atrax.Series([1,2,3,4])
s2 = Atrax.Series([5,6,7,8])

In [18]:
s1 + 10

0   11
1   12
2   13
3   14
Name: , dtype: int

In [19]:
s1 + s2

0   6
1   8
2   10
3   12
Name: , dtype: int

In [21]:
s2 - s1

0   4
1   4
2   4
3   4
Name: , dtype: int

In [22]:
s1 * s2

0   5
1   12
2   21
3   32
Name: , dtype: int

In [23]:
s1 / s2

0   0.2
1   0.3333333333333333
2   0.42857142857142855
3   0.5
Name: , dtype: float

In [24]:
s1 / 2

0   0.5
1   1.0
2   1.5
3   2.0
Name: , dtype: float

In [25]:
s1 % 2

0   1
1   0
2   1
3   0
Name: , dtype: int

In [26]:
s1 //2

0   0
1   1
2   1
3   2
Name: , dtype: int

In [27]:
s1**2

0   1
1   4
2   9
3   16
Name: , dtype: int

In [28]:
s1 = Atrax.Series([1,2,3,4], name="numbers")
mask = s1 > 2
print(mask)

0   False
1   False
2   True
3   True
Name: (numbers > 2), dtype: int

In [29]:
(s1 > 2).astype('int').apply(lambda x: x * 100)

0   0
1   0
2   100
3   100
Name: (numbers > 2), dtype: int

In [30]:
qty = Atrax.Series([5, 15, 20, 8], name="qty")
price = Atrax.Series([4, 6, 3, 5],name="price")

In [31]:
mask = (qty > 10) & (price < 5)
print(mask)

0   False
1   False
2   True
3   False
Name: ((qty > 10)) & (price < 5), dtype: int

In [32]:
not_mask = ~mask
print(not_mask)

0   True
1   True
2   False
3   True
Name: (~((qty > 10)) & (price < 5)), dtype: int

In [33]:
s = Atrax.Series([10, 20, 30], name="sales", index=["a", "b", "c"])
s

a   10
b   20
c   30
Name: sales, dtype: int

In [34]:
print(s.loc['b'])

20

In [35]:
print(s.iloc[1])

20

In [36]:
print(s.loc[['a', 'b']])

a   10
b   20
Name: sales, dtype: int

In [37]:
print(s.iloc[0:2])

a   10
b   20
Name: sales, dtype: int