# Atrax

### Import Libraries

In [2]:
from atrax import Atrax

### Create fake data

In [4]:
data = [
    {'name': 'Alice', 'age': 30, 'salary': 100000},
    {'name': 'Bob', 'age': 25, 'salary': 80000},
    {'name': 'Charlie', 'age': 35, 'salary': 120000},
    {'name': 'David', 'age': 28, 'salary': 85000},
    {'name': 'Eva', 'age': 40, 'salary': 130000},
    {'name': 'Frank', 'age': 38, 'salary': 125000}
]

### Series tests

#### Printing

In [2]:
s = Atrax.Series([1,2,3,4,5,6,7,8,9,10,11], name="numbers")

In [3]:
s

0: 1
1: 2
2: 3
3: 4
4: 5
5: 6
6: 7
7: 8
8: 9
9: 10
...(11 total)
Name: numbers, dtype: int

In [4]:
print(s)

0: 1
1: 2
2: 3
3: 4
4: 5
5: 6
6: 7
7: 8
8: 9
9: 10
...(11 total)
Name: numbers, dtype: int

In [5]:
type(s)

atrax.core.series.Series

In [6]:
Atrax.Series([1.5, 2.5, 3.25])

0: 1.5
1: 2.5
2: 3.25
Name: , dtype: float

In [7]:
Atrax.Series([1, 2.5, True, 'hello'], name='mixed')

0: 1
1: 2.5
2: True
3: hello
Name: mixed, dtype: object

#### astype

In [2]:
s = Atrax.Series(["1", "2", "3", "4"])
s.astype('int')

0: 1
1: 2
2: 3
3: 4
Name: , dtype: int

#### apply

In [2]:
s = Atrax.Series([1,2,3,4])
s.apply(lambda x: x * 2)

0: 2
1: 4
2: 6
3: 8
Name: , dtype: int

In [3]:
def square(x):
    return x * x

In [4]:
s1 = Atrax.Series([1,2,3,4])
s.apply(square)

0: 1
1: 4
2: 9
3: 16
Name: , dtype: int

#### arithmetic

In [2]:
s1 = Atrax.Series([1,2,3,4])
s2 = Atrax.Series([5,6,7,8])

##### addition

In [3]:
s1 + 10

0: 11
1: 12
2: 13
3: 14
Name: , dtype: int

In [4]:
s1 + s2

0: 6
1: 8
2: 10
3: 12
Name: , dtype: int

##### subtraction

In [5]:
s1 - 2

0: -1
1: 0
2: 1
3: 2
Name: , dtype: int

##### multiplication

In [6]:
s1 * 2

0: 2
1: 4
2: 6
3: 8
Name: , dtype: int

##### division

In [7]:
s1/2

0: 0.5
1: 1.0
2: 1.5
3: 2.0
Name: , dtype: float

##### modulus

In [8]:
s1%2

0: 1
1: 0
2: 1
3: 0
Name: , dtype: int

##### floor division

In [9]:
s1//2

0: 0
1: 1
2: 1
3: 2
Name: , dtype: int

##### pow

In [10]:
s1**2

0: 1
1: 4
2: 9
3: 16
Name: , dtype: int

#### Boolean operators

In [3]:
s1 = Atrax.Series([1,2,3,4], name="s1")
mask = s1 > 2
print(mask)

0: False
1: False
2: True
3: True
Name: (s1 > 2), dtype: int

In [4]:
(s1 > 2).astype('int').apply(lambda x: x * 100)

0: 0
1: 0
2: 100
3: 100
Name: (s1 > 2), dtype: int

In [2]:
qty = Atrax.Series([5, 15, 20, 8], name="qty")
price = Atrax.Series([4, 6, 3, 5], name="price")

In [3]:
# filter mask
mask = (qty > 10) & (price < 5)
print(mask)

0: False
1: False
2: True
3: False
Name: ((qty > 10)) & (price < 5), dtype: int

In [4]:
not_mask = ~mask
print(not_mask)

0: True
1: True
2: False
3: True
Name: (~((qty > 10)) & (price < 5)), dtype: int