# Atrax

### Import Libraries

In [1]:
from atrax import Atrax
import pandas as pd
import random

### Create fake data

In [4]:
data = [
    {'name': 'Alice', 'age': 30, 'salary': 100000},
    {'name': 'Bob', 'age': 25, 'salary': 80000},
    {'name': 'Charlie', 'age': 35, 'salary': 120000},
    {'name': 'David', 'age': 28, 'salary': 85000},
    {'name': 'Eva', 'age': 40, 'salary': 130000},
    {'name': 'Frank', 'age': 38, 'salary': 125000}
]

### Series tests

#### Printing

In [2]:
s = Atrax.Series([1,2,3,4,5,6,7,8,9,10,11], name="numbers")

In [4]:
s.head(7)

0   1
1   2
2   3
3   4
4   5
5   6
6   7
Name: numbers, dtype: int

In [5]:
s.tail(3)

8   9
9   10
10   11
Name: numbers, dtype: int

In [3]:
s

0: 1
1: 2
2: 3
3: 4
4: 5
5: 6
6: 7
7: 8
8: 9
9: 10
...(11 total)
Name: numbers, dtype: int

In [4]:
print(s)

0: 1
1: 2
2: 3
3: 4
4: 5
5: 6
6: 7
7: 8
8: 9
9: 10
...(11 total)
Name: numbers, dtype: int

In [5]:
type(s)

atrax.core.series.Series

In [6]:
Atrax.Series([1.5, 2.5, 3.25])

0: 1.5
1: 2.5
2: 3.25
Name: , dtype: float

In [7]:
Atrax.Series([1, 2.5, True, 'hello'], name='mixed')

0: 1
1: 2.5
2: True
3: hello
Name: mixed, dtype: object

#### astype

In [2]:
s = Atrax.Series(["1", "2", "3", "4"])
s.astype('int')

0: 1
1: 2
2: 3
3: 4
Name: , dtype: int

#### apply

In [2]:
s = Atrax.Series([1,2,3,4])
s.apply(lambda x: x * 2)

0: 2
1: 4
2: 6
3: 8
Name: , dtype: int

In [3]:
def square(x):
    return x * x

In [4]:
s1 = Atrax.Series([1,2,3,4])
s.apply(square)

0: 1
1: 4
2: 9
3: 16
Name: , dtype: int

#### arithmetic

In [2]:
s1 = Atrax.Series([1,2,3,4])
s2 = Atrax.Series([5,6,7,8])

##### addition

In [3]:
s1 + 10

0: 11
1: 12
2: 13
3: 14
Name: , dtype: int

In [4]:
s1 + s2

0: 6
1: 8
2: 10
3: 12
Name: , dtype: int

##### subtraction

In [5]:
s1 - 2

0: -1
1: 0
2: 1
3: 2
Name: , dtype: int

##### multiplication

In [6]:
s1 * 2

0: 2
1: 4
2: 6
3: 8
Name: , dtype: int

##### division

In [7]:
s1/2

0: 0.5
1: 1.0
2: 1.5
3: 2.0
Name: , dtype: float

##### modulus

In [8]:
s1%2

0: 1
1: 0
2: 1
3: 0
Name: , dtype: int

##### floor division

In [9]:
s1//2

0: 0
1: 1
2: 1
3: 2
Name: , dtype: int

##### pow

In [10]:
s1**2

0: 1
1: 4
2: 9
3: 16
Name: , dtype: int

#### Boolean operators

In [3]:
s1 = Atrax.Series([1,2,3,4], name="s1")
mask = s1 > 2
print(mask)

0: False
1: False
2: True
3: True
Name: (s1 > 2), dtype: int

In [4]:
(s1 > 2).astype('int').apply(lambda x: x * 100)

0: 0
1: 0
2: 100
3: 100
Name: (s1 > 2), dtype: int

In [2]:
qty = Atrax.Series([5, 15, 20, 8], name="qty")
price = Atrax.Series([4, 6, 3, 5], name="price")

In [3]:
# filter mask
mask = (qty > 10) & (price < 5)
print(mask)

0: False
1: False
2: True
3: False
Name: ((qty > 10)) & (price < 5), dtype: int

In [4]:
not_mask = ~mask
print(not_mask)

0: True
1: True
2: False
3: True
Name: (~((qty > 10)) & (price < 5)), dtype: int

#### Locators

In [2]:
s = Atrax.Series([10, 20, 30], name="sales", index=["a", "b", "b"])

In [3]:
s

a   10
b   20
b   30
Name: sales, dtype: int

In [5]:
print(s.loc["b"])
print(s.iloc[1])

20
20

In [6]:
print(s.loc[["a", "b"]])

a   10
b   30
Name: sales, dtype: int

In [7]:
print(s.iloc[0:2])

a   10
b   20
Name: sales, dtype: int

In [2]:
s1 = Atrax.Series([1,2,3,4])
s1

0   1
1   2
2   3
3   4
Name: , dtype: int

### DataSet

In [2]:
ds = Atrax.DataSet([
    {'name': 'candy', 'qty': 2, 'price': 3.5, 'dept': 'grocery', 'date': '2025-01-01'},
    {'name': 'food', 'qty': 5, 'price': 4.0, 'dept': 'grocery', 'date': '2025-02-01'},
    {'name': 'drinks', 'qty': 1, 'price': 10.0, 'dept': 'soft drinks', 'date': '2025-06-05'},
    {'name': 'chips', 'qty': 4, 'price': 2.5, 'dept': 'snacks', 'date': '2025-03-02'},
    {'name': "chocolate", 'qty': 6, 'price': 5.75, 'dept': 'snacks', 'date': '2025-06-05'}
])

#### helpers

In [3]:
ds.info()

<class 'atrax.Atrax'>
Data columns (total 2):
  qty             Non-Null Count: 3     Dtype: int
  price           Non-Null Count: 3     Dtype: float
dtypes: 2
Memory usage: 48 bytes (est.)

In [4]:
ds.describe()

stat, qty, price
mean, 2.67, 5.83
std, 2.08, 3.62
min, 1, 3.5
Q1, 1, 3.5
median, 2, 4.0
Q3, 5, 10.0
max, 5, 10.0
count, 3, 3

In [6]:
ds.head()

qty, price
2, 3.5
5, 4.0
1, 10.0

In [8]:
ds.shape()

(3, 2)

#### apply

In [3]:
ds

name, qty, price, dept
candy, 2, 3.5, grocery
food, 5, 4.0, grocery
drinks, 1, 10.0, soft drinks

In [4]:
total = ds.apply(lambda x: x['qty'] * x['price'])
total

[7.0, 20.0, 10.0]

In [5]:
# create a new dataset
new_ds = ds.apply(lambda row: {
    'item': row['name'],
    'total': row['qty'] * row['price']
})
new_ds

item, total
candy, 7.0
food, 20.0
drinks, 10.0

#### groupby

In [10]:
t = ds.groupby('dept').sum()
t

qty, price, dept
7, 7.5, grocery
1, 10.0, soft drinks

In [4]:
m = ds.groupby('dept').mean()
m

qty, price, dept
3.5, 3.75, grocery
1.0, 10.0, soft drinks

In [5]:
n = ds.groupby(['dept']).mean()
n

qty, price, dept
3.5, 3.75, grocery
1.0, 10.0, soft drinks

In [6]:
n = ds.groupby(by=['dept']).mean()
n

qty, price, dept
3.5, 3.75, grocery
1.0, 10.0, soft drinks

In [7]:
ds

name, qty, price, dept
candy, 2, 3.5, grocery
food, 5, 4.0, grocery
drinks, 1, 10.0, soft drinks

In [8]:
g = ds.groupby(by=['dept']).agg({
    'qty': 'count',
    'price': 'sum'
})
g

qty_count, price_sum, dept
2, 7.5, grocery
1, 10.0, soft drinks

In [9]:
g = ds.groupby(by=['dept']).agg({
    'qty': ['sum', 'mean', 'count'],
    'price': ['sum', 'max', 'min']
})
g

qty_sum, qty_mean, qty_count, price_sum, price_max, price_min, dept
7, 3.5, 2, 7.5, 4.0, 3.5, grocery
1, 1.0, 1, 10.0, 10.0, 10.0, soft drinks

#### sort

In [10]:
ds.sort(by='qty', ascending=True)

name, qty, price, dept
drinks, 1, 10.0, soft drinks
candy, 2, 3.5, grocery
chips, 4, 2.5, snacks
food, 5, 4.0, grocery
chocolate, 6, 5.75, snacks

#### basics

In [4]:
ds['total'] = ds['qty'] * ds['price']

In [5]:
ds['qty'] > 2

0   False
1   True
2   False
Name: (qty > 2), dtype: int

In [6]:
ds[ds['qty'] > 2]

qty, price, total
5, 4.0, 20.0

In [4]:
# string based lookup
ds.loc[ds['qty'] > 2, ['name', 'qty', 'price']]

name, qty, price
food, 5, 4.0
chips, 4, 2.5
chocolate, 6, 5.75

In [5]:
ds.iloc[0:2, [0,2]] # first 2 rows, 1rs and third columns

name, price
candy, 3.5
food, 4.0

#### filter

In [3]:
# keep only these columns
r = ds.filter(items=['qty', 'price'])
r

qty, price
2, 3.5
5, 4.0
1, 10.0

In [5]:
# keep columns with expression in the column name
r = ds.filter(like='pri')
r

price
3.5
4.0
10.0

#### isin

In [4]:
ds.loc[ds['dept'].isin(['grocery', 'snacks']), ['name', 'qty', 'price', 'dept']]

name, qty, price, dept
candy, 2, 3.5, grocery
food, 5, 4.0, grocery
chips, 4, 2.5, snacks
chocolate, 6, 5.75, snacks

#### between

In [5]:
ds.loc[ds['price'].between(2,5), ['name', 'qty', 'price', 'dept']]

name, qty, price, dept
candy, 2, 3.5, grocery
food, 5, 4.0, grocery
chips, 4, 2.5, snacks

#### unique

In [6]:
ds['dept'].unique()

0   snacks
1   grocery
2   soft drinks
Name: Unique(dept), dtype: object

In [8]:
ds['dept'].nunique()

3

#### rename

In [4]:
ds1 = ds.rename(columns={'qty': 'quantity', 'price': 'prices'})
ds1

name, quantity, prices, dept
candy, 2, 3.5, grocery
food, 5, 4.0, grocery
drinks, 1, 10.0, soft drinks
chips, 4, 2.5, snacks
chocolate, 6, 5.75, snacks

In [5]:
ds1

name, quantity, prices, dept
candy, 2, 3.5, grocery
food, 5, 4.0, grocery
drinks, 1, 10.0, soft drinks
chips, 4, 2.5, snacks
chocolate, 6, 5.75, snacks

In [6]:
ds1.rename(columns={'prices': 'price'}, inplace=True)
ds1

name, quantity, price, dept
candy, 2, 3.5, grocery
food, 5, 4.0, grocery
drinks, 1, 10.0, soft drinks
chips, 4, 2.5, snacks
chocolate, 6, 5.75, snacks

#### drop

In [3]:
ds2 = ds.drop(columns=['price', 'qty'])
ds2

name, dept
candy, grocery
food, grocery
drinks, soft drinks
chips, snacks
chocolate, snacks

In [4]:
ds2.drop(columns=['dept'], inplace=True)
ds2

name
candy
food
drinks
chips
chocolate

In [5]:
ds2 = ds.copy()
ds2

name, qty, price, dept
candy, 2, 3.5, grocery
food, 5, 4.0, grocery
drinks, 1, 10.0, soft drinks
chips, 4, 2.5, snacks
chocolate, 6, 5.75, snacks

In [6]:
ds3 = ds2.drop(index=[0,2])
ds3

name, qty, price, dept
food, 5, 4.0, grocery
chips, 4, 2.5, snacks
chocolate, 6, 5.75, snacks

In [7]:
ds3.drop(columns=['price'], index=[1], inplace=True) # remove the price column and drop the second row
ds3

name, qty, dept
food, 5, grocery
chocolate, 6, snacks

#### reset_index

In [4]:
ds2 = ds.copy()
ds.reset_index(inplace=True)
ds2

name, qty, price, dept
candy, 2, 3.5, grocery
food, 5, 4.0, grocery
drinks, 1, 10.0, soft drinks
chips, 4, 2.5, snacks
chocolate, 6, 5.75, snacks

#### to_dict

In [4]:
rows = ds.to_dict()
rows

[{'name': 'candy', 'qty': 2, 'price': 3.5, 'dept': 'grocery'},
 {'name': 'food', 'qty': 5, 'price': 4.0, 'dept': 'grocery'},
 {'name': 'drinks', 'qty': 1, 'price': 10.0, 'dept': 'soft drinks'},
 {'name': 'chips', 'qty': 4, 'price': 2.5, 'dept': 'snacks'},
 {'name': 'chocolate', 'qty': 6, 'price': 5.75, 'dept': 'snacks'}]

#### to_csv

In [3]:
ds.to_csv('test.csv')

#### read_csv

In [4]:
ds_csv = Atrax.read_csv("test.csv")
ds_csv

name, qty, price, dept, date
candy, 2, 3.5, grocery, 2025-01-01
food, 5, 4.0, grocery, 2025-02-01
drinks, 1, 10.0, soft drinks, 2025-06-05
chips, 4, 2.5, snacks, 2025-03-02
chocolate, 6, 5.75, snacks, 2025-06-05

In [5]:
ds.info()

<class 'atrax.Atrax'>
Data columns (total 5):
  name            Non-Null Count: 5     Dtype: str
  qty             Non-Null Count: 5     Dtype: int
  price           Non-Null Count: 5     Dtype: float
  dept            Non-Null Count: 5     Dtype: str
  date            Non-Null Count: 5     Dtype: str
dtypes: 3
Memory usage: 200 bytes (est.)

In [4]:
temp = Atrax.read_csv('test.csv', encoding='utf-8', converters={'dept': lambda x: x.upper()}, usecols=['name', 'qty', 'dept'])
temp

name, qty, dept
candy, 2, GROCERY
food, 5, GROCERY
drinks, 1, SOFT DRINKS
chips, 4, SNACKS
chocolate, 6, SNACKS

In [3]:
dsd = Atrax.read_csv('test.csv', encoding='utf-8', parse_dates=['date'])
dsd

name, qty, price, dept, date
candy, 2, 3.5, grocery, 2025-01-01 00:00:00
food, 5, 4.0, grocery, 2025-02-01 00:00:00
drinks, 1, 10.0, soft drinks, 2025-06-05 00:00:00
chips, 4, 2.5, snacks, 2025-03-02 00:00:00
chocolate, 6, 5.75, snacks, 2025-06-05 00:00:00

In [5]:
ds.info()

<class 'atrax.Atrax'>
Data columns (total 5):
name            | str        | 5 non-null | 5 total
qty             | int        | 5 non-null | 5 total
price           | float      | 5 non-null | 5 total
dept            | str        | 5 non-null | 5 total
date            | str        | 5 non-null | 5 total
dtypes: 3
Memory usage: 200 bytes (est.)

#### set_index

In [3]:
ds

name, qty, price, dept, date
candy, 2, 3.5, grocery, 2025-01-01
food, 5, 4.0, grocery, 2025-02-01
drinks, 1, 10.0, soft drinks, 2025-06-05
chips, 4, 2.5, snacks, 2025-03-02
chocolate, 6, 5.75, snacks, 2025-06-05

In [4]:
ds.info()

<class 'atrax.Atrax'>
columns (total 5):
Column          | Type       | Non-Null   | Total
--------------------------------------------------
name            | str        | 5          | 5
qty             | int        | 5          | 5
price           | float      | 5          | 5
dept            | str        | 5          | 5
date            | str        | 5          | 5

In [5]:
# newest feature
ds['date'] = ds['date'].to_datetime()

In [6]:
ds.set_index('date', inplace=True, drop=False)
ds

name, qty, price, dept, date
candy, 2, 3.5, grocery, 2025-01-01 00:00:00
food, 5, 4.0, grocery, 2025-02-01 00:00:00
drinks, 1, 10.0, soft drinks, 2025-06-05 00:00:00
chips, 4, 2.5, snacks, 2025-03-02 00:00:00
chocolate, 6, 5.75, snacks, 2025-06-05 00:00:00

In [7]:
ds.index

[datetime.datetime(2025, 1, 1, 0, 0),
 datetime.datetime(2025, 2, 1, 0, 0),
 datetime.datetime(2025, 6, 5, 0, 0),
 datetime.datetime(2025, 3, 2, 0, 0),
 datetime.datetime(2025, 6, 5, 0, 0)]

In [8]:
ds.info()

<class 'atrax.Atrax'>
columns (total 5):
Index: 5 entries
  name: date
  dtype: datetime

Column          | Type       | Non-Null   | Total
--------------------------------------------------
name            | str        | 5          | 5
qty             | int        | 5          | 5
price           | float      | 5          | 5
dept            | str        | 5          | 5
date            | datetime   | 5          | 5

In [9]:
day = ds.loc['3/2/2025']
day

name, qty, price, dept, date
chips, 4, 2.5, snacks, 2025-03-02 00:00:00

In [10]:
ds.loc['2025-03-02']

name, qty, price, dept, date
chips, 4, 2.5, snacks, 2025-03-02 00:00:00

In [11]:
ds.loc[lambda x: x['qty'] > 2, ['name', 'qty']]

name, qty
food, 5
chips, 4
chocolate, 6

In [12]:
ds.loc[lambda x: x['qty'] > 2]

name, qty, price, dept, date
food, 5, 4.0, grocery, 2025-02-01 00:00:00
chips, 4, 2.5, snacks, 2025-03-02 00:00:00
chocolate, 6, 5.75, snacks, 2025-06-05 00:00:00

#### read_pandas

In [2]:
import pandas as pd

In [3]:
pdf = pd.DataFrame({
    'name': ['candy', 'drinks'],
    'qty': [2, 3],
    'price': [1.5, 4.0]
}, index=pd.to_datetime(['2025-01-01', '2025-01-02']))
pdf.index.name = 'date'

In [4]:
dsp = Atrax.read_pandas(pdf)
dsp

name, qty, price
candy, 2, 1.5
drinks, 3, 4.0

#### to_pandas

In [5]:
df_out = dsp.to_pandas()
print(type(df_out))

<class 'pandas.core.frame.DataFrame'>

In [7]:
df_out

              name  qty  price
date
2025-01-01   candy    2    1.5
2025-01-02  drinks    3    4.0

#### read_sql

In [3]:
import sys
import os

sys.path.append(os.path.abspath('..'))
from utils.db import get_db

engine = get_db()


query = "select distinct(storeid) as storeid, store_number, store_name from sales"

ds_sql = Atrax.read_sql(query, engine)
ds_sql

2025-06-19 18:55:26,500 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-06-19 18:55:26,500 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-19 18:55:26,555 INFO sqlalchemy.engine.Engine select current_schema()
2025-06-19 18:55:26,555 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-19 18:55:26,610 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-06-19 18:55:26,611 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-19 18:55:26,666 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-19 18:55:26,667 INFO sqlalchemy.engine.Engine select distinct(storeid) as storeid, store_number, store_name from sales
2025-06-19 18:55:26,667 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-19 18:55:30,239 INFO sqlalchemy.engine.Engine ROLLBACK

storeid, store_number, store_name
36, 2, IGA #002
83, 813, Jr Food 813
86, 828, JR Food 828
111, 1, IGA 1
194, 496, Priceless Foods 496
202, 860, SHELL 860
224, 508, SAVE A LOT 508
251, 493, Priceless Foods 493
277, 150, SAVE A LOT 150
460, 773, Crossroads #773
... (36 rows total)

#### astype

In [3]:
ds1 = ds.astype({'qty': float, 'price': str})
ds1

name, qty, price, dept, date
candy, 2.0, 3.5, grocery, 2025-01-01
food, 5.0, 4.0, grocery, 2025-02-01
drinks, 1.0, 10.0, soft drinks, 2025-06-05
chips, 4.0, 2.5, snacks, 2025-03-02
chocolate, 6.0, 5.75, snacks, 2025-06-05

In [4]:
ds['qty'] = ds['qty'].astype(float)
ds

name, qty, price, dept, date
candy, 2.0, 3.5, grocery, 2025-01-01
food, 5.0, 4.0, grocery, 2025-02-01
drinks, 1.0, 10.0, soft drinks, 2025-06-05
chips, 4.0, 2.5, snacks, 2025-03-02
chocolate, 6.0, 5.75, snacks, 2025-06-05

In [5]:
ds['qty'] = ds['qty'].astype(int)
ds

name, qty, price, dept, date
candy, 2, 3.5, grocery, 2025-01-01
food, 5, 4.0, grocery, 2025-02-01
drinks, 1, 10.0, soft drinks, 2025-06-05
chips, 4, 2.5, snacks, 2025-03-02
chocolate, 6, 5.75, snacks, 2025-06-05

#### date_range

In [12]:
r = Atrax.date_range(start="2025-01-01", end="2025-01-05")
r

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05'],
              dtype='datetime64[ns]', freq='D')

#### qcut

In [2]:
values = [10, 20, 15, 12, 30, 22, 40, 35]
binned = Atrax.qcut(values, q=4, labels=['Low', 'Med', 'High', 'Top'])
binned

['Low', 'Med', 'Low', 'Low', 'High', 'Med', 'Top', 'High']

In [ ]:
num_customers = 5
num_transactions = 5
date_range = Atrax.date_range(start="2025-01-01", end="2025-01-05")

# Generate data
data = {
    'customer_id': [random.randint(1000, 1050) for _ in range(num_transactions)],
    'transaction_date': [random.choice(date_range) for _ in range(num_transactions)],
    'sales_amount': [round(random.uniform(5.0, 100.0), 2) for _ in range(num_transactions)]
}

ds = Atrax.DataSet(data)
#ds['transaction_date'] = pd.to_datetime(ds['transaction_date'])

#ds.head()

{'customer_id': [1031, 1010, 1050, 1048, 1017],
 'transaction_date': [Timestamp('2025-01-03 00:00:00'),
  Timestamp('2025-01-05 00:00:00'),
  Timestamp('2025-01-04 00:00:00'),
  Timestamp('2025-01-05 00:00:00'),
  Timestamp('2025-01-03 00:00:00')],
 'sales_amount': [41.34, 25.78, 31.54, 81.86, 55.48]}