In [1]:
import pandas as pd

In [3]:
ps = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13], name="numbers")

In [4]:
ps

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
Name: numbers, dtype: int64

In [5]:
print(ps)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
Name: numbers, dtype: int64

In [6]:
type(ps)

pandas.core.series.Series

In [7]:
pd.Series([1.5, 2.5, 3.25])

0    1.50
1    2.50
2    3.25
dtype: float64

In [8]:
pd.Series([1, 2.5, True, 'hello'])

0        1
1      2.5
2     True
3    hello
dtype: object

In [10]:
s = pd.Series(["1", "2", "3"])
s.astype('int')

0    1
1    2
2    3
dtype: int64

In [11]:
s = pd.Series([10, 20, 30], name="sales", index=["a", "b", "b"])

In [12]:
s

a    10
b    20
b    30
Name: sales, dtype: int64

In [16]:
ds = pd.DataFrame([
    {'name': 'candy', 'qty': 2, 'price': 3.5, 'dept': 'grocery'},
    {'name': 'food', 'qty': 5, 'price': 4.0, 'dept': 'grocery'},
    {'name': 'drinks', 'qty': 1, 'price': 10.0, 'dept': 'soft drinks'}
])

In [18]:
m = ds.groupby(['dept']).mean(numeric_only=True)
m

             qty  price
dept
grocery      3.5   3.75
soft drinks  1.0  10.00