In [1]:
import numpy as np
import pandas as pd

In [28]:
accrued = pd.read_csv('../data/Jason_points_461_from_jan.csv', dtype={'customer_number': str})

In [29]:
accrued['customer_number'] = accrued['customer_number'].astype(str)

In [30]:
accrued.head()

,transaction_date,store,terminal,customer_number,transaction_number,points
0,2/27/2025,461,2,40000020009,399066,5
1,2/27/2025,461,2,40000020502,399079,169
2,2/27/2025,461,2,44000345282,399082,67
3,2/27/2025,461,2,40000020245,399086,54
4,2/27/2025,461,2,44000341014,399102,19

In [31]:
redeemed = pd.read_csv('../data/Json_451_redemptions.csv', dtype={'customer_number': str})

In [32]:
redeemed['customer_number'] = redeemed['customer_number'].astype(str)

In [33]:
redeemed.head()

,transaction_date,store,terminal,customer_number,transaction_number,points
0,2/27/2025,451,6,40000028840,115892,100
1,2/27/2025,451,6,40000028514,115893,150
2,2/27/2025,451,6,41440000683,115895,50
3,2/27/2025,451,6,40000027841,115900,100
4,2/27/2025,451,6,40000027902,115902,100

In [34]:
common_customers = set(accrued['customer_number']) & set(redeemed['customer_number'])

In [35]:
common_customers

{'40000004366',
 '40000005306',
 '40000006414',
 '40000006951',
 '40000007396',
 '40000008288',
 '40000008483',
 '40000008557',
 '40000008900',
 '40000009149',
 '40000009906',
 '40000010912',
 '40000011516',
 '40000020006',
 '40000020009',
 '40000020011',
 '40000020012',
 '40000020018',
 '40000020026',
 '40000020028',
 '40000020030',
 '40000020050',
 '40000020059',
 '40000020062',
 '40000020063',
 '40000020065',
 '40000020071',
 '40000020073',
 '40000020078',
 '40000020080',
 '40000020082',
 '40000020083',
 '40000020084',
 '40000020085',
 '40000020110',
 '40000020125',
 '40000020126',
 '40000020144',
 '40000020146',
 '40000020148',
 '40000020149',
 '40000020164',
 '40000020165',
 '40000020167',
 '40000020170',
 '40000020172',
 '40000020173',
 '40000020176',
 '40000020193',
 '40000020196',
 '40000020199',
 '40000020201',
 '40000020219',
 '40000020220',
 '40000020223',
 '40000020228',
 '40000020240',
 '40000020253',
 '40000020257',
 '40000020263',
 '40000020264',
 '40000020269',
 '40000020272',
 '40000020275',
 '40000020286',
 '40000020294',
 '40000020300',
 '40000020306',
 '40000020309',
 '40000020310',
 '40000020320',
 '40000020337',
 '40000020356',
 '40000020357',
 '40000020358',
 '40000020365',
 '40000020377',
 '40000020390',
 '40000020397',
 '40000020408',
 '40000020418',
 '40000020436',
 '40000020441',
 '40000020446',
 '40000020449',
 '40000020466',
 '40000020467',
 '40000020471',
 '40000020485',
 '40000020486',
 '40000020487',
 '40000020491',
 '40000020493',
 '40000020495',
 '40000020507',
 '40000020516',
 '40000020533',
 '40000020534',
 '40000020582',
 '40000020599',
 '40000020606',
 '40000020608',
 '40000020609',
 '40000020611',
 '40000020612',
 '40000020615',
 '40000020616',
 '40000020617',
 '40000020627',
 '40000020631',
 '40000020634',
 '40000020636',
 '40000020649',
 '40000020688',
 '40000020696',
 '40000020711',
 '40000020716',
 '40000020720',
 '40000020723',
 '40000020745',
 '40000020751',
 '40000020754',
 '40000020760',
 '40000020770',
 '40000020800',
 '40000020808',
 '40000020809',
 '40000020813',
 '40000020814',
 '40000020821',
 '40000020836',
 '40000020840',
 '40000020854',
 '40000020860',
 '40000020867',
 '40000020875',
 '40000020876',
 '40000020907',
 '40000020923',
 '40000020925',
 '40000020929',
 '40000020944',
 '40000020946',
 '40000020950',
 '40000020959',
 '40000020964',
 '40000020967',
 '40000020994',
 '40000021015',
 '40000021040',
 '40000021051',
 '40000021052',
 '40000021064',
 '40000021079',
 '40000021088',
 '40000021138',
 '40000021140',
 '40000021149',
 '40000021157',
 '40000021161',
 '40000021169',
 '40000021174',
 '40000021180',
 '40000021181',
 '40000021223',
 '40000021225',
 '40000021226',
 '40000021293',
 '40000021332',
 '40000021407',
 '40000021413',
 '40000021483',
 '40000021520',
 '40000021525',
 '40000021528',
 '40000021539',
 '40000021618',
 '40000021638',
 '40000021695',
 '40000021757',
 '40000021909',
 '40000021918',
 '40000022501',
 '40000022502',
 '40000022507',
 '40000022513',
 '40000022516',
 '40000022520',
 '40000022524',
 '40000022538',
 '40000022601',
 '40000022645',
 '40000023160',
 '40000027503',
 '40000027524',
 '40000027621',
 '40000027653',
 '40000027660',
 '40000027781',
 '40000027807',
 '40000027841',
 '40000027849',
 '40000027858',
 '40000027863',
 '40000027909',
 '40000027924',
 '40000027998',
 '40000028104',
 '40000028124',
 '40000028126',
 '40000028129',
 '40000028162',
 '40000028208',
 '40000028209',
 '40000028214',
 '40000028235',
 '40000028246',
 '40000028282',
 '40000028322',
 '40000028390',
 '40000028394',
 '40000028436',
 '40000028442',
 '40000028467',
 '40000028485',
 '40000028578',
 '40000028699',
 '40000028701',
 '40000028707',
 '40000028709',
 '40000028721',
 '40000028764',
 '40000028774',
 '40000028787',
 '40000028802',
 '40000028806',
 '40000028839',
 '40000028842',
 '40000028847',
 '40000028899',
 '40000028905',
 '40000028910',
 '40000028981',
 '40000029033',
 '40000029155',
 '40000029222',
 '40000029226',
 '40000029266',
 '40000029285',
 '40000029308',
 '40000029350',
 '40000029386',
 '40000029401',
 '40000029432',
 '40000029534',
 '40000029699',
 '40000029829',
 '40000029884',
 '40000029899',
 '40000030029',
 '40000031859',
 '40000048032',
 '41451000236',
 '41451000436',
 '41451001041',
 '41451001741',
 '41451003636',
 '41451003983',
 '41451005188',
 '41451006940',
 '41451007937',
 '41453005334',
 '41460000386',
 '41461000008',
 '41461000022',
 '41461000067',
 '41461000075',
 '41461000137',
 '41461000143',
 '41461000361',
 '41461000375',
 '41461000656',
 '41461000715',
 '41461001093',
 '41461001437',
 '41461001712',
 '41461001880',
 '41461002120',
 '41461002274',
 '41461002310',
 '41461002488',
 '41461002558',
 '41461002802',
 '41461003415',
 '41461003454',
 '41461003670',
 '41461004311',
 '41461004322',
 '41461004464',
 '41461004497',
 '41461005150',
 '41461005353',
 '41781001300',
 '44000001703',
 '44000057435',
 '44000057851',
 '44000058650',
 '44000059993',
 '44000060857',
 '44000061826',
 '44000090093',
 '44000093415',
 '44000095308',
 '44000095658',
 '44000097866',
 '44000098369',
 '44000098442',
 '44000098463',
 '44000098581',
 '44000099265',
 '44000100629',
 '44000101117',
 '44000101500',
 '44000101794',
 '44000101910',
 '44000102862',
 '44000106601',
 '44000109528',
 '44000111228',
 '44000114487',
 '44000114751',
 '44000115441',
 '44000116172',
 '44000116367',
 '44000116458',
 '44000117250',
 '44000195208',
 '44000196356',
 '44000196997',
 '44000197581',
 '44000197591',
 '44000199254',
 '44000208586',
 '44000220797',
 '44000223127',
 '44000224764',
 '44000230208',
 '44000238045',
 '44000238962',
 '44000252804',
 '44000254078',
 '44000256146',
 '44000257002',
 '44000263428',
 '44000270271',
 '44000271132',
 '44000271626',
 '44000275708',
 '44000280829',
 '44000283287',
 '44000283924',
 '44000296620',
 '44000297832',
 '44000299859',
 '44000300699',
 '44000301758',
 '44000313511',
 '44000323352',
 '44000326767',
 '44000335104',
 '44000341014',
 '44000345282',
 '44000346864',
 '44000351973',
 '44000353102',
 '44000359615',
 '44000362682'}

In [37]:
accrued_common = accrued[accrued['customer_number'].isin(common_customers)]
redeemed_common = redeemed[redeemed['customer_number'].isin(common_customers)]

In [38]:
merged = pd.merge(
    accrued_common,
    redeemed_common,
    on='customer_number',
    suffixes=('_accrued', '_redeemed'),
)

In [39]:
grouped = merged.groupby('customer_number')

In [40]:
print(grouped.get_group(list(common_customers)[0]))

      transaction_date_accrued  store_accrued  terminal_accrued  \
1605                  3/7/2025            461                 2
1606                  3/7/2025            461                 2
1607                  3/7/2025            461                 2
2930                 3/14/2025            461                 2
2931                 3/14/2025            461                 2
2932                 3/14/2025            461                 2
4434                 3/21/2025            461                 2
4435                 3/21/2025            461                 2
4436                 3/21/2025            461                 2
5741                 3/28/2025            461                 2
5742                 3/28/2025            461                 2
5743                 3/28/2025            461                 2
7357                  4/4/2025            461                 2
7358                  4/4/2025            461                 2
7359                  4/4/2025            461                 2
8763                 4/11/2025            461                 2
8764                 4/11/2025            461                 2
8765                 4/11/2025            461                 2
10479                4/18/2025            461                 2
10480                4/18/2025            461                 2
10481                4/18/2025            461                 2
11168                4/21/2025            461                 2
11169                4/21/2025            461                 2
11170                4/21/2025            461                 2
11814                4/24/2025            461                 2
11815                4/24/2025            461                 2
11816                4/24/2025            461                 2
13454                 5/2/2025            461                 4
13455                 5/2/2025            461                 4
13456                 5/2/2025            461                 4
14988                 5/9/2025            461                 2
14989                 5/9/2025            461                 2
14990                 5/9/2025            461                 2
16525                5/16/2025            461                 3
16526                5/16/2025            461                 3
16527                5/16/2025            461                 3
17783                5/22/2025            461                 2
17784                5/22/2025            461                 2
17785                5/22/2025            461                 2
19778                5/30/2025            461                 4
19779                5/30/2025            461                 4
19780                5/30/2025            461                 4
21357                 6/6/2025            461                 2
21358                 6/6/2025            461                 2
21359                 6/6/2025            461                 2
25732                1/17/2025            461                 2
25733                1/17/2025            461                 2
25734                1/17/2025            461                 2
27020                1/24/2025            461                 2
27021                1/24/2025            461                 2
27022                1/24/2025            461                 2
29815                 2/7/2025            461                 2
29816                 2/7/2025            461                 2
29817                 2/7/2025            461                 2
31363                2/14/2025            461                 2
31364                2/14/2025            461                 2
31365                2/14/2025            461                 2
32985                2/21/2025            461                 4
32986                2/21/2025            461                 4
32987                2/21/2025            461                 4

      customer_number  transaction_number_accrued  points_accrued  \
1605      40000020149                      401363              86
1606      40000020149                      401363              86
1607      40000020149                      401363              86
2930      40000020149                      403496              79
2931      40000020149                      403496              79
2932      40000020149                      403496              79
4434      40000020149                      405783              69
4435      40000020149                      405783              69
4436      40000020149                      405783              69
5741      40000020149                      407709              50
5742      40000020149                      407709              50
5743      40000020149                      407709              50
7357      40000020149                      409872              57
7358      40000020149                      409872              57
7359      40000020149                      409872              57
8763      40000020149                      411664              60
8764      40000020149                      411664              60
8765      40000020149                      411664              60
10479     40000020149                      413442              33
10480     40000020149                      413442              33
10481     40000020149                      413442              33
11168     40000020149                      414238              86
11169     40000020149                      414238              86
11170     40000020149                      414238              86
11814     40000020149                      415178              94
11815     40000020149                      415178              94
11816     40000020149                      415178              94
13454     40000020149                      185886              85
13455     40000020149                      185886              85
13456     40000020149                      185886              85
14988     40000020149                      419593              90
14989     40000020149                      419593              90
14990     40000020149                      419593              90
16525     40000020149                      188716              63
16526     40000020149                      188716              63
16527     40000020149                      188716              63
17783     40000020149                      423364              64
17784     40000020149                      423364              64
17785     40000020149                      423364              64
19778     40000020149                      189547              58
19779     40000020149                      189547              58
19780     40000020149                      189547              58
21357     40000020149                      427782              41
21358     40000020149                      427782              41
21359     40000020149                      427782              41
25732     40000020149                      388041              41
25733     40000020149                      388041              41
25734     40000020149                      388041              41
27020     40000020149                      390003              61
27021     40000020149                      390003              61
27022     40000020149                      390003              61
29815     40000020149                      393903              63
29816     40000020149                      393903              63
29817     40000020149                      393903              63
31363     40000020149                      395765              56
31364     40000020149                      395765              56
31365     40000020149                      395765              56
32985     40000020149                      177263              39
32986     40000020149                      177263              39
32987     40000020149                      177263              39

      transaction_date_redeemed  store_redeemed  terminal_redeemed  \
1605                   4/7/2025             451                  6
1606                  4/18/2025             451                  6
1607                   1/3/2025             451                  6
2930                   4/7/2025             451                  6
2931                  4/18/2025             451                  6
2932                   1/3/2025             451                  6
4434                   4/7/2025             451                  6
4435                  4/18/2025             451                  6
4436                   1/3/2025             451                  6
5741                   4/7/2025             451                  6
5742                  4/18/2025             451                  6
5743                   1/3/2025             451                  6
7357                   4/7/2025             451                  6
7358                  4/18/2025             451                  6
7359                   1/3/2025             451                  6
8763                   4/7/2025             451                  6
8764                  4/18/2025             451                  6
8765                   1/3/2025             451                  6
10479                  4/7/2025             451                  6
10480                 4/18/2025             451                  6
10481                  1/3/2025             451                  6
11168                  4/7/2025             451                  6
11169                 4/18/2025             451                  6
11170                  1/3/2025             451                  6
11814                  4/7/2025             451                  6
11815                 4/18/2025             451                  6
11816                  1/3/2025             451                  6
13454                  4/7/2025             451                  6
13455                 4/18/2025             451                  6
13456                  1/3/2025             451                  6
14988                  4/7/2025             451                  6
14989                 4/18/2025             451                  6
14990                  1/3/2025             451                  6
16525                  4/7/2025             451                  6
16526                 4/18/2025             451                  6
16527                  1/3/2025             451                  6
17783                  4/7/2025             451                  6
17784                 4/18/2025             451                  6
17785                  1/3/2025             451                  6
19778                  4/7/2025             451                  6
19779                 4/18/2025             451                  6
19780                  1/3/2025             451                  6
21357                  4/7/2025             451                  6
21358                 4/18/2025             451                  6
21359                  1/3/2025             451                  6
25732                  4/7/2025             451                  6
25733                 4/18/2025             451                  6
25734                  1/3/2025             451                  6
27020                  4/7/2025             451                  6
27021                 4/18/2025             451                  6
27022                  1/3/2025             451                  6
29815                  4/7/2025             451                  6
29816                 4/18/2025             451                  6
29817                  1/3/2025             451                  6
31363                  4/7/2025             451                  6
31364                 4/18/2025             451                  6
31365                  1/3/2025             451                  6
32985                  4/7/2025             451                  6
32986                 4/18/2025             451                  6
32987                  1/3/2025             451                  6

       transaction_number_redeemed  points_redeemed
1605                        117804              500
1606                        118383               50
1607                        113221              250
2930                        117804              500
2931                        118383               50
2932                        113221              250
4434                        117804              500
4435                        118383               50
4436                        113221              250
5741                        117804              500
5742                        118383               50
5743                        113221              250
7357                        117804              500
7358                        118383               50
7359                        113221              250
8763                        117804              500
8764                        118383               50
8765                        113221              250
10479                       117804              500
10480                       118383               50
10481                       113221              250
11168                       117804              500
11169                       118383               50
11170                       113221              250
11814                       117804              500
11815                       118383               50
11816                       113221              250
13454                       117804              500
13455                       118383               50
13456                       113221              250
14988                       117804              500
14989                       118383               50
14990                       113221              250
16525                       117804              500
16526                       118383               50
16527                       113221              250
17783                       117804              500
17784                       118383               50
17785                       113221              250
19778                       117804              500
19779                       118383               50
19780                       113221              250
21357                       117804              500
21358                       118383               50
21359                       113221              250
25732                       117804              500
25733                       118383               50
25734                       113221              250
27020                       117804              500
27021                       118383               50
27022                       113221              250
29815                       117804              500
29816                       118383               50
29817                       113221              250
31363                       117804              500
31364                       118383               50
31365                       113221              250
32985                       117804              500
32986                       118383               50
32987                       113221              250

In [41]:
for cust, df in grouped:
    df.to_csv(f'customers/customer_{cust}_activity.csv', index=False)

# V2

In [42]:
accrued_summary = accrued.groupby('customer_number')['points'].sum().reset_index()
accrued_summary.rename(columns={'points': 'total_accrued_points'}, inplace=True)

In [43]:
redeemed_summary = redeemed.groupby("customer_number")['points'].sum().reset_index()
redeemed_summary.rename(columns={'points': 'total_redeemed_points'}, inplace=True)

In [44]:
merged_summary = pd.merge(
    accrued_summary,
    redeemed_summary,
    on='customer_number',
    how='inner'
)

In [45]:
merged_summary.to_csv('customers/customer_points_summary.csv', index=False)

In [1]:
merged_summary.head()

NameError: name 'merged_summary' is not defined