In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = [
    {
        'id':1,
        'date': '6/1/2025',
        'qty': 10
    },
    {
        'id': 2,
        'date': '6/2/2025',
        'qty': 5
    },
    {
        'id': 4,
        'date': '6/4/2025',
        'qty': 8
    },
    {
        'id': 5,
        'date': '6/5/2025',
        'qty': 12
    },
    {
        'id': 6,
        'date': '6/6/2025',
        'qty': 4
    },
    {
        'id': 7,
        'date': '6/7/2025',
        'qty': 1
    }       
]

In [6]:
data

[{'id': 1, 'date': '6/1/2025', 'qty': 10},
 {'id': 2, 'date': '6/2/2025', 'qty': 5},
 {'id': 4, 'date': '6/4/2025', 'qty': 8},
 {'id': 5, 'date': '6/5/2025', 'qty': 12},
 {'id': 6, 'date': '6/6/2025', 'qty': 4},
 {'id': 7, 'date': '6/7/2025', 'qty': 1}]

In [7]:
time_ds = pd.DataFrame(data)

In [8]:
time_ds.head()

   id      date  qty
0   1  6/1/2025   10
1   2  6/2/2025    5
2   4  6/4/2025    8
3   5  6/5/2025   12
4   6  6/6/2025    4

In [9]:

full_range = pd.date_range(start=time_ds['date'].min(), end=time_ds['date'].max())

In [10]:
full_range

DatetimeIndex(['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04',
               '2025-06-05', '2025-06-06', '2025-06-07'],
              dtype='datetime64[ns]', freq='D')

In [11]:
time_ds['date'] = pd.to_datetime(time_ds['date'])

In [12]:
ds = time_ds.set_index('date').reindex(full_range)

In [13]:
ds

             id   qty
2025-06-01  1.0  10.0
2025-06-02  2.0   5.0
2025-06-03  NaN   NaN
2025-06-04  4.0   8.0
2025-06-05  5.0  12.0
2025-06-06  6.0   4.0
2025-06-07  7.0   1.0

In [15]:
ds.fillna(0, inplace=True)

In [16]:
ds

             id   qty
2025-06-01  1.0  10.0
2025-06-02  2.0   5.0
2025-06-03  0.0   0.0
2025-06-04  4.0   8.0
2025-06-05  5.0  12.0
2025-06-06  6.0   4.0
2025-06-07  7.0   1.0