In [1]:
import pandas as pd
import numpy as np

# Series

In [5]:
my_index = ['Usa', 'Canada', 'Mexico']
my_data = [1776, 1867, 1821]

In [7]:
my_series = pd.Series(data=my_data, index=my_index)
my_series

Usa       1776
Canada    1867
Mexico    1821
dtype: int64

In [8]:
my_series['Usa']

np.int64(1776)

In [10]:
my_series.Usa

np.int64(1776)

In [11]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'Usa': 350}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, "Usa": 260}

In [12]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [13]:
sales_q1

Japan     80
China    450
India    200
Usa      350
dtype: int64

In [14]:
sales_q2

Brazil    100
China     500
India     210
Usa       260
dtype: int64

In [15]:
sales_q1['Japan']

np.int64(80)

In [18]:
sales_q1.keys() # series dont have columns, they have keys

Index(['Japan', 'China', 'India', 'Usa'], dtype='object')

In [19]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
Usa       610.0
dtype: float64

In [20]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
Usa       610.0
dtype: float64